/*CSS Reset*/
html,head,body,div,h1,h2,h3,h4,h5,h6,a,p,ul,li,section,header,footer,article,figure,figcaption,i{
	margin: 0;
	padding: 0;
}
/*Tag Based Selectors*/
body{
	width: 100%;
	overflow-x: hidden;
	font-family: 'Josefin Sans', sans-serif;
}
header{
	position: absolute;
	width: 100%;
}
header>nav{
	text-align: center;
}
header>nav>ul {
    display: inline-block;
    margin: 50px;
}
header>nav>ul>li {
    display: inline;
    padding: 20px;
}
header>nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}
section{
	height: 680px;
}

footer{
	padding: 20px;
    background-color: #6A6A6A;
    color: #ffffff;
}
footer>p{
	line-height: 1.3;
}
/*ID Based Selectors*/
#banner{
	/*background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/banner.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    padding:340px 0px 0px 0px;  
    height:650px;
}
#about{
	background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#paris{
	background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/paris.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#london{
	background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/london.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#vatican{
	background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/vatican.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#barcelona{
	background: url('C:/Users/kamal vaio/Desktop/Europe Destinations/images/barcelona.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#banner >h1{
	color: #ffffff;
	font-size: 50px;
}
/*Class Based Selectors*/
.center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.title{
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	border: 4px double #000000;
	font-size: 30px;
}


